ErrorDocument 404 /404.php

<IfModule mod_headers.c>
	#YEAR
    <filesMatch "\.(png|svg|ttf)$">
	    Header set Cache-Control "max-age=31536000, public"
	</filesMatch>
	#MONTH
	<filesMatch "\.(css|html)$">
	    Header set Cache-Control "max-age=2678400, public"
	</filesMatch>
	#WEEK
	<filesMatch "\.(js)$">
	    Header set Cache-Control "max-age=604800, public"
	</filesMatch>
	<files creator.js>
	    Header set Cache-Control "max-age=0, public"
	</files>
</IfModule>