ErrorDocument 404 /404.php

<IfModule mod_headers.c>
	#YEAR
    <filesMatch "\.(png|svg|ttf)$">
	    Header set Cache-Control "max-age=31536000, public"
	</filesMatch>
	#MONTH
	<filesMatch "\.(css)$">
	    Header set Cache-Control "max-age=2678400, public"
	</filesMatch>
	#WEEK
	<filesMatch "\.(js)$">
	    Header set Cache-Control "max-age=604800, public"
	</filesMatch>
	#DAY
	<filesMatch "\.(php)$">
	    Header set Cache-Control "max-age=86400, public"
	</filesMatch>
	#creator.js
	<files creator.js>
	    Header set Cache-Control "max-age=60, public"
	</files>
</IfModule>