.askScryfallGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 90pt auto;
    align-items: center;
    justify-items: center;
}
.urzaCard {
    width: 90vw;
    text-align: center;
    grid-column: 1 / span 3;
}
.urzaCard > img {
    width: 100%;
    height: auto;
}
.askScryfallGrid > * {
    /*border: 1px solid red;*/
}
.askScryfallButton {
    height: auto;
    width: 22vw;
    transition: 0.25s;
}
#askScryfallResult {
    grid-column: 1 / span 3;
    padding: 1rem;
    margin: 0.5rem;
    background: var(--background-color-contrast);
    color: var(--font-color-contrast);
    border-radius: 1rem;
    font: 1.5rem belerenb;
}
@media screen and (min-width: 864pt) {
    .askScryfallGrid {
        grid-template-columns: calc(360pt) 1fr 1fr 1fr !important;
        grid-template-rows: 92pt auto !important;
    }
    .urzaCard {
        grid-column: 1;
        grid-row: 1 / span 2 !important;
    }
    #askScryfallResult {
        grid-column: 2 / span 3 !important;
    }
}
@media screen and (min-width: 380pt) {
    .urzaCard {
        width: 360pt;
    }
    .askScryfallButton {
        height: auto;
        width: 100pt;
        transition: 0.25s;
    }
    .askScryfallButton:hover {
        width: 110pt;
    }
    .askScryfallButton:active {
        width: 120pt !important;
    }
}