/*fonts*/
@font-face {
	font-family: gothammedium;
	src: url("../fonts/gotham-medium.ttf");
}
@font-face {
	font-family: belerenb;
	src: url("../fonts/beleren-b.ttf");
}
@font-face {
	font-family: belerenbsc;
	src: url("../fonts/beleren-bsc.ttf");
}
@font-face {
	font-family: matrix;
	src: url("../fonts/matrix.ttf");
}
@font-face {
	font-family: matrixb;
	src: url("../fonts/matrix-b.ttf");
}
@font-face {
	font-family: matrixbsc;
	src: url("../fonts/matrix-bsc.ttf");
}
@font-face {
	font-family: mplantin;
	src: url("../fonts/mplantin.ttf");
}
@font-face {
	font-family: mplantini;
	src: url("../fonts/mplantin-i.ttf");
}
@font-face {
	font-family: goudymedieval;
	src: url("../fonts/goudy-medieval.ttf");
}
:root {
	--shifting-color-1: rgb(128, 237, 18);
	--shifting-color-1-light: rgb(255, 255, 168);
	--light-color: #eee;
	--dark-color: #333;
}
footer {
	background-color: var(--dark-color);
	padding: 2.5em;
	font: 1.3em gothammedium;
	color: var(--light-color);
}
body {
	margin: 0px;
	background-image: url(images/lowpoly.png);
	background-attachment: fixed;
	background-size: cover;
}
html {
	background-image: linear-gradient(to bottom right, var(--shifting-color-1), var(--shifting-color-1-light));
	background-attachment: fixed;
	overflow-x: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 8pt;
}
canvas {
	width: calc(100%);
	height: auto;
	max-width: 750px;
	max-height: 1050px;
}
.canvasContainer {
	text-align: center;
}
.mainGrid {
	padding: 0.3em;
	display: grid;
	grid-gap: 1.5em;
	grid-template-columns: auto;
	font: 1.6em mplantin;
}
.imageGrid {
	display: grid;
	grid-template-columns: auto 9em;
	min-height: 12.5em;
}
.imgPreview {
	width: 100%;
}
.bar {
	background-image: url(../images/manaSymbols/63.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 2px;
	width: 100%;
	height: 1em;
}
.cardMenu > div > div:nth-child(1) {
	/*border: 1px solid blue;*/
	text-align: center;
	font: 1.5em belerenbsc;
}
.twoGrid {
	display: grid;
	grid-template-columns: 50% auto;
}
.input, .textarea, .button, .select {
	font: 1em mplantin;
	background-color: var(--light-color);
	border: 1px solid #aaae;
	border-radius: 0.2em;
	padding: 0px 0.2em;
	outline: none;
}
.textarea {
	min-height: 6em;
	max-height: 18em;
	resize: vertical;
}
.select {
    background: #fafafa url(../images/manaSymbols/49.png) no-repeat calc(100% - 0.1em) 50%;
    background-size: 1em 1em;
    -webkit-appearance: none;
}
.autoGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
	grid-auto-rows: min-content;
}
.input.file {
	padding: 0px;
}
.tooltip {
	position: relative;
}
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: var(--dark-color);
  color: var(--light-color);
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  top: calc(100% + 5px);
  left: 0px;
  max-width: calc(100% - 10px);
  width: auto;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--dark-color) transparent;
}
.tooltip .tooltiptext:hover {
	/*visibility: hidden;*/
	opacity: 0;
}
div.tooltip > * {
	width: 100%;
}
a {
	color: black;
}
a:hover {
	color: var(--dark-color);
}
footer a {
	color: white;
}
footer a:hover {
	color: var(--shifting-color-1-light);
}
.hidden {
	display: none;
}
.footerGrid {
	display: grid;
	grid-template-columns: auto;
	grid-gap: 2em;
}
.layer {
	padding: 2em 2em;
	color: black;
	font-size: 2em;
	text-align: center;
}
.layer:nth-child(even) {
	background-color: var(--light-color);
	background-image: url(images/layerBackground.png);
	background-position: center;
	background-repeat: no-repeat;
}
.title {
	font: 1.5em belerenbsc;
}
.pageTitle {
	font: 5em belerenbsc;
	text-align: center;
	padding-top: 0.3em;
}
.paragraph {
	font: 1em mplantin;
	text-align: left;
}
.indent {
	text-indent: 2em;
}
.leftMargin {
	margin-left: 2em;
}

/*Controls the area taken by the canvas*/
@media screen and (min-width: 888pt) {
	/*Makes room for the canvas and controls to be side by side*/
	.mainGrid {
		padding: 1.5em;
		grid-template-columns: calc(750px + 2px) auto;
	}
}
@media screen and (min-width: calc(750px + 2em)) {
	/*The canvas can be full size and doesn't have to scale anymore*/
	canvas {
		width: 750px;
		height: 1050px;
	}
}
/*The screen is big enough (larger than phone, likely) to use a larger font*/
@media screen and (min-width: 263pt) {
	html {
		font-size: 10pt;
	}
}
/*These control tooltips for mobile devices vs. desktops/laptops*/
@media screen and (min-width: 1024px) {
	.tooltip:hover .tooltiptext {
	  	visibility: visible;
	  	opacity: 1;
	}
}
@media screen and (max-width: 1023px) {
	.tooltip:focus .tooltiptext, div.tooltip > input:focus + .tooltiptext, div.tooltip > textarea:focus + .tooltiptext {
	  	visibility: visible;
	  	opacity: 1;
	}
}
/*The footer can now fit horizontally!*/
@media screen and (min-width: 375pt) {
	.footerGrid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
		grid-gap: 1em;
	}
}