/*fonts*/
@font-face {
	font-family: gothammedium;
	src: url("../fonts/gotham-medium.ttf");
}
@font-face {
	font-family: belerenb;
	src: url("../fonts/beleren-b.ttf");
}
@font-face {
	font-family: belerenbsc;
	src: url("../fonts/beleren-bsc.ttf");
}
@font-face {
	font-family: matrix;
	src: url("../fonts/matrix.ttf");
}
@font-face {
	font-family: matrixb;
	src: url("../fonts/matrix-b.ttf");
}
@font-face {
	font-family: matrixbsc;
	src: url("../fonts/matrix-bsc.ttf");
}
@font-face {
	font-family: mplantin;
	src: url("../fonts/mplantin.ttf");
}
@font-face {
	font-family: mplantini;
	src: url("../fonts/mplantin-i.ttf");
}
@font-face {
	font-family: goudymedieval;
	src: url("../fonts/goudy-medieval.ttf");
}
:root {
	--shifting-color-1: #00c300;
	--shifting-color-1-light: #c8ff64;
	--light-color: #eee;
	--dark-color: #333;
    --clear-light: #fff3;
    --clear-mid: #fff6;
    --clear-dark: #fff9;
    --clear-darker: #aaa3;
    --clear-darkerer: #aaa6;
    --background-gradient: linear-gradient(to bottom right, var(--shifting-color-1), var(--shifting-color-1-light));
}

/*Background & Footer*/
html {
	background-image: linear-gradient(to bottom right, var(--shifting-color-1), var(--shifting-color-1-light));
	background-attachment: fixed;
	overflow-x: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 8pt;
}
body {
    margin: 0;
    border: 0;
    padding: 0;
	background-image: url(images/lowpoly.png);
    background-position: left;
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
footer {
	background-color: var(--dark-color);
	padding: 2.5em;
	font: 1.3em gothammedium;
	color: var(--light-color);
}


/*Canvas*/
canvas {
	width: calc(100%);
	height: auto;
	max-width: 750px;
	max-height: 1050px;
}
.canvasContainer {
	text-align: center;
}


/*Grids*/
.mainGrid {
	padding: 0.3em;
	display: grid;
	grid-gap: 1.5em;
	grid-template-columns: auto;
	font: 1.6em mplantin;
}
.splitGrid {
	display: grid;
	grid-template-columns: 50% 50%;
}
.frameGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(4em, 1fr));
	grid-auto-rows: min-content;
}
.footerGrid {
	display: grid;
	grid-template-columns: auto;
	grid-gap: 2em;
}
.autoGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
	grid-auto-rows: min-content;
}


/*Misc elements*/
.download {
    text-align: center;
    font: 1.5em belerenbsc;
}
.pageTitle {
	font: 5em belerenbsc;
	text-align: center;
	padding-top: 0.3em;
}
.bar {
	background-image: url(../images/manaSymbols/63.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 2px;
	width: 100%;
	height: 1em;
}
.imgPreview {
	width: 100%;
}
.layer {
	padding: 2em 2em;
	color: black;
	font-size: 2em;
	text-align: center;
    margin-bottom: 3em;
    background-color: var(--light-color);
	background-image: url(images/layerBackground.png);
	background-position: center;
	background-repeat: no-repeat;
}


/*Various text modifications*/
.title {
	text-align: center;
	font: 1.5em belerenbsc;
}
.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-indent: 0em;
}
.paragraph {
	font: 1em mplantin;
	text-align: left;
}
.indent {
	text-indent: 2em;
}


/*General modifications*/
.hidden {
	display: none;
}
.visible {
	display: inline-block;
}
.selectable {
	user-select: all;
}


/*Hyperlinks*/
a {
	color: black;
}
a:hover {
	color: var(--dark-color);
}
footer a {
	color: white;
}
footer a:hover {
	color: var(--shifting-color-1-light);
}


/*Controls the area taken by the canvas*/
@media screen and (min-width: 905pt) {
	/*Makes room for the canvas and controls to be side by side*/
	.mainGrid {
		padding: 1.5em;
		grid-template-columns: calc(750px + 2px) auto;
	}
}
@media screen and (min-width: calc(750px + 2em)) {
	/*The canvas can be full size and doesn't have to scale anymore*/
	canvas {
		width: 750px;
		height: 1050px;
	}
}
/*The screen is big enough (larger than phone, likely) to use a larger font*/
@media screen and (min-width: 263pt) {
	html {
		font-size: 10pt;
	}
}
/*These control tooltips for mobile devices vs. desktops/laptops*/
/*@media screen and (min-width: 1024px) {
	.tooltip:hover .tooltiptext {
	  	visibility: visible;
	  	opacity: 1;
	}
}
@media screen and (max-width: 1023px) {
	.tooltip:focus .tooltiptext, div.tooltip > input:focus + .tooltiptext, div.tooltip > textarea:focus + .tooltiptext {
	  	visibility: visible;
	  	opacity: 1;
	}
}*/
/*Allows the footer to be displayed horizontally on Desktop*/
@media screen and (min-width: 375pt) {
	.footerGrid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
		grid-gap: 1em;
	}
}


/*WIP (or I'm too lazy to sort these)*/
.tabMenu {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
	grid-auto-rows: min-content;
}
.tabOption, .textTabButton {
	font: 1.5em belerenbsc;
	text-align: center;
	background-color: var(--clear-light);
	border: 1px solid var(--light-color);
	transition: 0.5s;
}
.tabOption:hover, .textTabButton:hover {
	background-color: var(--clear-mid);
	transition: 0s;
}
.tabOption.tabOptionSelected, .textTabButton.activeTextTab {
	background-color: var(--clear-dark);
}
.tabContent:not(.tabVisible) {
	display: none;
}

.cardMasterElement {
	font: 1em belerenbsc;
	background-color: var(--clear-light);
	border: 1px solid var(--light-color);
	border-radius: 0.25em;
	margin-top: 0.25em;
    display: grid;
    grid-template-columns: 2em auto 1em;
    align-items: center;
}
.cardMasterElement > .handle {
    cursor: all-scroll;
    padding: 1em 0.5em;
    text-align: center;
}
.cardMasterElement img {
	max-height: 1.5em;
	max-width: 1.5em;
	position: absolute;
	transform: translate(0.1em, 0);
}
.cardmasterElement img.cardMasterElementMaskImage {
	transform: translate(1.7em, 0);
}
.cardMasterElementMoving {
	background-color: var(--clear-dark);
}
.closeCardMasterElement {
	cursor: pointer;
    text-align: center;
}

.frameOption img, .maskOption img, .cardMasterElement img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

#framePicker, #maskPicker {
	max-height: 260pt;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid var(--light-color);
}
.frameOption {
	height: 4em;
	text-align: center;
	width: 100%;
}
.frameOption img {
	max-width: 4em;
	max-height: 4em;
}
.maskOption img {
	max-width: 2em;
	max-height: 2em;
}
.frameOption.frameOptionSelected, .maskOption.maskOptionSelected {
	background-color: var(--clear-dark);
}
.maskOption, .frameOption {
	background-color: var(--clear-light);
	border: 1px solid var(--light-color);
	border-radius: 0.25em;
}
.maskOption {
	margin-left: 0.5em;
	padding: 0.125em;
	width: calc(100% - 1.4em);
}


.textarea {
	width: 100%;
	min-height: 8em;
	max-height: 24em;
	resize: vertical;
}
.textTabButton {
	font-size: 1em;
}
.textTab {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
	grid-auto-rows: min-content;
}

.input, .textarea, .button, .select {
	font: 1em mplantin;
	background-color: var(--light-color);
	border: 1px solid #aaa;
	border-radius: 0.2em;
	padding: 0px 0.2em;
	outline: none;
	width: 100%;
}
.inputOpacity {
	font: 1em mplantin;
	background-color: var(--light-color);
	border: 1px solid #aaa;
	border-radius: 0.2em;
	padding: 0px 0.2em;
	outline: none;
	width: 2.9em;
}


/* Text code tutorial */
#textCodeTutorial {
	display: grid;
	grid-template-columns: 6.5em auto;
}
#textCodeTutorial > div {
	padding: 0.25em 0;
	background-color: var(--clear-mid);
}
#textCodeTutorial > div:nth-child(4n), #textCodeTutorial > div:nth-child(4n - 1) {
	background-color: var(--clear-light);
}


input[type="checkbox"], .frameOption, .maskOption, .button {
	cursor: pointer;
}


/* image links */
.proxyFactoryLimitedGrid {
    margin: 0 auto;
    max-width: 32em;
}
.imageLinkGrid {
    margin-top: 1em;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
    
}
.showBackgroundThrough {
    display: inline-block;
    background: url(images/lowpoly.png) left top no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.imageLink {
    width: 12em;
    padding: 0.5em;
    border-radius: 1em;
    display: grid;
    grid-template-columns: 4em auto;
    align-items: center;
    justify-items: left;
    border: 1px solid var(--dark-color);
}
.imageLink:hover {
    background-color: var(--clear-darkerer);
}
.imageLink > img {
    max-height: 3em;
    max-width: 4em;
}
.imageLink > div {
    font: 1.5em belerenbsc;
}

.visitorCount {
    display: none;
}
.visitorCount img {
    max-height: 1em;
}
.visitorCountTrigger:hover + .visitorCount {
    display:inline-block;
}
